global
        log 127.0.0.1   local0
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	# ca-base /etc/ssl/certs
	# crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-options no-sslv3
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS

	ssl-default-server-options no-sslv3
	ssl-default-server-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend tornotmyidea
	bind 127.0.0.1:9999
	default_backend nginx_server
 
frontend https
	bind 0.0.0.0:443 ssl no-sslv3 crt /etc/ssl/letsencrypt
	mode http
	default_backend nginx_server

        acl     notmyidea_redirect hdr_beg(host) -i notmyidea.org
        acl     notmyidea_redirect hdr_beg(host) -i www.notmyidea.org
        redirect        location        https://blog.notmyidea.org       code 301        if notmyidea_redirect

	acl     host_hurl      hdr_beg(host) -i hurl.
	use_backend     hurl_server    if host_hurl

	acl     host_kinto_discourse_server   hdr_beg(host) -i forums.kinto-storage.org
	use_backend     kinto_discourse_server    if host_kinto_discourse_server

	acl     host_kinto_discourse_server   hdr_beg(host) -i forums.kinto-storage.org
	use_backend     kinto_discourse_server    if host_kinto_discourse_server

	acl     host_gitlab_notmyidea   hdr_beg(host) -i gitlab.notmyidea.org
	use_backend     gitlab_notmyidea    if host_gitlab_notmyidea

	acl     host_shout_notmyidea   hdr_beg(host) -i shout.notmyidea.org
	use_backend     shout_notmyidea    if host_shout_notmyidea


frontend http
	bind 0.0.0.0:80
	mode http
	default_backend nginx_server

	acl letsencrypt_check path_beg /.well-known/acme-challenge
	use_backend letsencrypt_backend if letsencrypt_check

	redirect scheme https code 301 if !{ ssl_fc } !letsencrypt_check


backend hurl_server
	mode http
	dispatch 127.0.0.1:9393

backend kinto_discourse_server
	mode http
	dispatch 127.0.0.1:9001

backend gitlab_notmyidea
	mode http
	dispatch 127.0.0.1:9002

backend shout_notmyidea
	mode http
	dispatch 127.0.0.1:9003

backend letsencrypt_backend
   	http-request set-header Host letsencrypt.requests
	dispatch 127.0.0.1:8000

backend nginx_server
	mode http
	dispatch 127.0.0.1:8000
